<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2017. EPAM Systems.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config/>

    <context:property-placeholder properties-ref="shared-properties"/>

    <util:properties id="shared-properties">
        <prop key="configBasePath">/com/epam/lathgertha/integration/</prop>
    </util:properties>

    <util:properties id="consumer-properties" location="${configBasePath}consumer.properties"/>
    <util:properties id="producer-properties" location="${configBasePath}producer.properties"/>

    <bean id="ignite.cfg" class="org.apache.ignite.configuration.IgniteConfiguration"
          p:gridName="#{T(java.util.UUID).randomUUID().toString()}"
          p:cacheConfiguration-ref="caches"
          p:discoverySpi-ref="discovery-spi"
          p:serviceConfiguration-ref="services"/>

    <bean id="ignite-bean" class="org.apache.ignite.IgniteSpringBean"
          p:configuration-ref="ignite.cfg"/>

    <bean id="lead" class="com.epam.lathgertha.subscriber.lead.LeadImpl" scope="prototype"/>
    <bean id="reader" class="com.epam.lathgertha.subscriber.Reader" lazy-init="true" scope="prototype"
          c:ignite-ref="ignite-bean"
          c:kafkaFactory-ref="kafka-factory"
          c:config-ref="subscriber-config"
          c:serializer-ref="serializer"
          c:commitStrategy-ref="commit-strategy"/>

    <bean id="lead-service" class="com.epam.lathgertha.services.LeadServiceImpl"/>
    <bean id="reader-service" class="com.epam.lathgertha.services.ReaderServiceImpl"/>
    <util:list id="services">
        <bean class="org.apache.ignite.services.ServiceConfiguration"
              p:name="#{T(com.epam.lathgertha.services.LeadService).NAME}"
              p:maxPerNodeCount="1"
              p:totalCount="1"
              p:service-ref="lead-service"/>
        <bean class="org.apache.ignite.services.ServiceConfiguration"
              p:name="#{T(com.epam.lathgertha.services.ReaderService).NAME}"
              p:maxPerNodeCount="1"
              p:totalCount="3"
              p:service-ref="reader-service"/>
    </util:list>

    <util:list id="caches">
        <ref bean="cache"/>
        <ref bean="binary-cache"/>
    </util:list>

    <bean name="discovery-spi" class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
        <property name="ipFinder">
            <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.vm.TcpDiscoveryVmIpFinder">
                <property name="addresses">
                    <list>
                        <value>127.0.0.1:47500..47509</value>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean name="subscriber-config" class="com.epam.lathgertha.kafka.SubscriberConfig"
          p:remoteTopic="remoteTopic"
          p:consumerConfig-ref="consumer-properties"
          p:producerConfig-ref="producer-properties"/>

    <bean name="id-sequencer" class="com.epam.lathgertha.kafka.KafkaIdSequencer"
          c:topic="txIdTopic"
          c:kafkaFactory-ref="kafka-factory"
          c:subscriberConfig-ref="subscriber-config"/>

    <bean name="key-transformer" class="com.epam.lathgertha.capturer.DefaultKeyTransformer"/>
    <bean name="value-transformer" class="com.epam.lathgertha.capturer.DefaultValueTransformer"/>
    <bean name="serializer" class="com.epam.lathgertha.util.SerializerImpl"/>

    <bean name="jdbc-committer" class="com.epam.lathgertha.BaseIntegrationTest"
          factory-method="personJDBCCommitter"/>

    <bean id="kafka-log-committer" class="com.epam.lathgertha.kafka.KafkaLogCommitter">
        <constructor-arg index="0" ref="kafka-factory"/>
        <constructor-arg index="1">
            <bean class="com.epam.lathgertha.kafka.SubscriberConfig"
                  p:remoteTopic="local-index-topic"
                  p:consumerConfig-ref="consumer-properties"
                  p:producerConfig-ref="producer-properties"/>
        </constructor-arg>
    </bean>

    <bean name="commit-servitor" class="com.epam.lathgertha.subscriber.CommitServitor"
          c:serializer-ref="serializer"
          c:committer-ref="jdbc-committer"
          c:kafkaLogCommitter-ref="kafka-log-committer"
          c:ignite-ref="ignite-bean"/>

    <bean name="commit-strategy" class="com.epam.lathgertha.subscriber.SequentialCommitStrategy"
          c:commitServitor-ref="commit-servitor"/>

    <bean name="kafka-factory" class="com.epam.lathgertha.kafka.KafkaFactoryImpl"/>

    <util:list id="subscriber-configs">
        <ref bean="subscriber-config"/>
    </util:list>

    <bean name="producers-manager" class="com.epam.lathgertha.kafka.ProducersManager"
          c:kafkaFactory-ref="kafka-factory"
          c:keyTransformer-ref="key-transformer"
          c:valueTransformer-ref="value-transformer"
          c:configs-ref="subscriber-configs"
          c:serializer-ref="serializer"/>

    <util:list id="key-value-listeners">
        <bean class="com.epam.lathgertha.capturer.SynchronousPublisher">
            <constructor-arg index="0" ref="producers-manager"/>
        </bean>
    </util:list>

    <bean name="cache-store-factory" class="com.epam.lathgertha.capturer.DataCapturerBusFactory"/>

    <!-- Caches configuration -->
    <bean id="cache" class="org.apache.ignite.configuration.CacheConfiguration"
          p:name="#{T(com.epam.lathgertha.BaseIntegrationTest).CACHE_NAME}"
          p:readThrough="true"
          p:writeThrough="true"
          p:cacheMode="PARTITIONED"
          p:atomicityMode="TRANSACTIONAL"
          p:backups="2"
          p:cacheStoreFactory-ref="cache-store-factory"/>

    <bean id="binary-cache" class="org.apache.ignite.configuration.CacheConfiguration"
          p:name="#{T(com.epam.lathgertha.BaseIntegrationTest).BINARY_KEEPING_CACHE_NAME}"
          p:readThrough="true"
          p:writeThrough="true"
          p:cacheMode="PARTITIONED"
          p:atomicityMode="TRANSACTIONAL"
          p:backups="2"
          p:storeKeepBinary="true"
          p:cacheStoreFactory-ref="cache-store-factory"/>
</beans>
